button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 10px;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    animation: pulse 5.5s infinite;
}

button:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}